@import "./components/_buttons.scss";
@import "./components/_mixins.scss";
@import "./components/_variables.scss";
@import "./components/_keyframes.scss";
@import "./components/_homePage.scss";
@import "./components/_menu.scss";
@import "./components/_loader.scss";

// pourcompiler , copie colle ci dessous
// sass css/style.scss css/style.css



body {
  font-family: $police;
  background: $color-grey-background;
  padding: 0px;
  box-sizing: border-box;
  margin: 0;
  @media screen and (min-width: 990px) {
    background-color: $color-white;
  }
}
p {
  font-weight: 300;
  margin: 0;
}

h3,
strong {
  margin: 0;
}

.img__quality {
  object-fit: cover;
}



