/*couleurs*/
/*polices*/
/*ombres*/
/*arrondis bordures*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
@keyframes background-loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes anim-circle {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes appearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.container__title__principal {
  display: flex;
  justify-content: center;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 2;
}

.title__principal {
  font-family: "Shrikhand", cursive;
  margin-top: 14px;
  margin-bottom: 5px;
}

.container__localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  background: #EAEAEA;
}

.fa-location-dot::before {
  margin-left: -28px;
}

.container__header__down {
  padding: 0px 5% 57px 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
}

.btn-position1 {
  margin-top: 27px;
}

.btn-gradient {
  opacity: 1;
  cursor: pointer;
  background: linear-gradient(0deg, #9356DC -5.2%, #FF79DA 110.74%);
  width: 218px;
  height: 50px;
  border-radius: 25px;
  border: 0px;
  color: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease;
}
.btn-gradient:hover {
  opacity: 0.8;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8);
}

.section__functioning {
  background-color: #FFFFFF;
  padding: 28px 0 68px 0;
}
.section__functioning .title__functioning {
  margin: 38px 0px 26px 5%;
}
@media screen and (min-width: 990px) {
  .section__functioning .title__functioning {
    margin-left: 13%;
  }
}
.section__functioning .container__btn__functioning {
  width: 100%;
  gap: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 700px) {
  .section__functioning .container__btn__functioning {
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
}
@media screen and (min-width: 700px) and (min-width: 990px) {
  .section__functioning .container__btn__functioning {
    gap: 0;
    margin-left: 12.5%;
    width: 75%;
    justify-content: space-between;
  }
}

.btn__functioning {
  background-color: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  height: 72.38px;
  border: 0px;
  width: 90%;
  margin-left: 2%;
}
@media screen and (min-width: 700px) {
  .btn__functioning {
    width: 30%;
  }
}
@media screen and (min-width: 990px) {
  .btn__functioning {
    width: 322.49px;
  }
}

.fa-store {
  -webkit-background-clip: text;
  color: #9356DC;
}

.only__number {
  display: block;
  color: #FFFFFF;
  background-color: #9356DC;
  border-radius: 50%;
  position: absolute;
  margin-left: -16px;
  margin-top: -4px;
  padding: 4px 8px;
}
@media screen and (min-width: 700px) {
  .only__number {
    margin-top: -4px;
  }
}

.section__restaurants {
  background-color: #F7F7F7;
  padding-top: 30px;
}

.container__article__restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
  padding-bottom: 64px;
}
@media screen and (min-width: 700px) {
  .container__article__restaurants {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    max-width: 100%;
    gap: 12px;
  }
}
@media screen and (min-width: 990px) {
  .container__article__restaurants {
    margin-left: 12.5%;
    margin-right: 12.5%;
    gap: 50px;
    width: 75%;
    justify-content: space-between;
  }
}

.title__restaurants {
  margin: 38px 0px 26px 5%;
}
@media screen and (min-width: 990px) {
  .title__restaurants {
    margin-left: 13%;
  }
}

.article__restaurants {
  width: 90%;
  height: 251px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  position: relative;
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: all 0.4s ease;
}
@media screen and (min-width: 700px) {
  .article__restaurants {
    width: 45%;
  }
}
@media screen and (min-width: 990px) {
  .article__restaurants {
    width: 45%;
  }
}
.article__restaurants:hover {
  box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.5);
  transform: scale(1.04);
}
.article__restaurants:not(:hover) {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  transition: 0.4s all ease;
}
.article__restaurants .card__picture {
  width: 100%;
  height: 70%;
  border-radius: 15px 15px 0 0;
}
.article__restaurants .new {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  padding: 8px 1px 4px 10px;
  height: 22px;
  width: 70px;
  border-radius: 2px;
  color: #008766;
  background-color: #99E2D0;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}

.card__text__with__heart {
  display: grid;
  justify-content: space-between;
  padding: 15px;
}
.card__text__with__heart .heart__pos {
  margin-top: 10px;
  grid-area: 1/2;
  font-size: 1.5em;
}
.card__text__with__heart .heart1 {
  transition: visibility 0.4s;
}
.card__text__with__heart .heart1:hover {
  visibility: hidden;
}
.card__text__with__heart .heart2 {
  opacity: 0;
  background: linear-gradient(#9356dc, #ff79da);
  transition: 0.5s all;
  font-weight: 600;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card__text__with__heart .heart2:hover {
  opacity: 1;
  transform: scale(1.1);
}

footer {
  color: #FFFFFF;
  background-color: rgb(53, 53, 53);
  display: flex;
  flex-direction: column;
  padding: 22px 0px 33px 25px;
}
@media screen and (min-width: 700px) {
  footer {
    gap: 10%;
    flex-direction: row-reverse;
  }
}
footer .footer__title {
  font-family: "Shrikhand", cursive;
}
@media screen and (min-width: 700px) {
  footer .footer__title {
    margin-top: 12px;
    margin-right: 5%;
  }
}
footer .footer__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 7px;
}
@media screen and (min-width: 700px) {
  footer .footer__list {
    gap: 20px;
    flex-direction: row;
  }
}
@media screen and (min-width: 990px) {
  footer .footer__list {
    gap: 40px;
  }
}
footer .footer__list .footer__icon {
  margin-right: 10px;
}
footer .footer__list .footer__contact {
  text-decoration: none;
  color: #FFFFFF;
}

.fa-arrow-left {
  position: absolute;
  left: 2rem;
  top: 37%;
  font-size: 1.2rem;
  color: #000;
}

.header__menu__picture {
  width: 100%;
  height: 360px;
  z-index: -1;
  border-radius: 0;
}

.container__menu {
  position: relative;
  margin-top: -42px;
  background-color: #F6F6F6;
  z-index: 2;
  border-radius: 40px 40px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 990px) {
  .container__menu {
    gap: 40px;
    width: 73vw;
    margin-left: auto;
    margin-right: auto;
  }
}
.container__menu .title__menu__restaurant {
  display: flex;
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  justify-content: space-between;
  width: 94%;
}
.container__menu .title__menu__restaurant .heart__pos-bis {
  margin-top: 5px;
  position: absolute;
  font-size: 1em;
  right: 22px;
  cursor: pointer;
}

.heart1 {
  transition: visibility 0.4s;
}
.heart1:hover {
  visibility: hidden;
}

.heart2 {
  opacity: 0;
  background: linear-gradient(#9356dc, #ff79da);
  transition: 0.5s all;
  font-weight: 600;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.heart2:hover {
  font-weight: 600;
  opacity: 1;
  transform: scale(1.1);
}

.section__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 0 0 40px 0;
  width: 91%;
}
@media screen and (min-width: 700px) {
  .section__menu {
    width: auto;
  }
}
.section__menu .article__menu__style {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  width: 100%;
  height: 68px;
  border: 0px;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  transform: translateX(0%);
}
@media screen and (min-width: 700px) {
  .section__menu .article__menu__style {
    width: 634px;
  }
}
.section__menu .article__menu__style .text__title__dish {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  transition: width 0.5s ease-in-out;
}
.section__menu .article__menu__style .text__description__dish {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  transition: width 0.5s ease-in-out;
}
.section__menu .article__menu__style .price {
  position: relative;
  display: inline-block;
  transition: transform 0.4s ease-in-out;
  right: -87%;
  top: 0%;
  margin-right: 15px;
}
.section__menu .article__menu__style:hover .square__check {
  transform: scaleX(1);
}
.section__menu .article__menu__style:hover .price {
  transform: translateX(-59px);
}
.section__menu .article__menu__style:hover .fa-circle-check {
  transform: rotate(360deg);
  opacity: 1;
}
.section__menu .article__menu__style:hover .text__description__dish {
  width: 74%;
}
.section__menu .article__menu__style:hover .text__title__dish {
  width: 85%;
}
.section__menu .article__menu__style:hover:not(:hover) .fa-circle-check {
  animation: anim-circle 0.8s ease;
}

.square__check {
  border-radius: 0 15px 15px 0;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  display: flex;
  box-sizing: border-box;
  right: 0%;
  position: absolute;
  width: 59px;
  transform-origin: right;
  transform: scaleX(0);
  background-color: #99e2d0;
  height: 101%;
  transition: all 0.4s ease-in-out;
  top: 0;
}
.square__check .fa-circle-check {
  opacity: 0;
  transform: rotate(0deg);
  font-size: 1.5rem;
  transition: all 0.6s ease-out 0.1s;
}

.text__card__exept__price {
  left: 2%;
  top: 28%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 85%;
}

.green__trait__style {
  border-bottom: 3px solid #99e2d0;
  width: 40px;
  margin-right: 88%;
  font-weight: 300;
  padding-bottom: 4px;
}

.btn__menu__command {
  margin-top: 28px;
}

.entrance,
.dish,
.desserts {
  opacity: 0;
}

.entrance {
  -webkit-animation: appearance 0.5s ease 1s forwards;
  animation: appearance 0.5s ease 1s forwards;
}

.dish {
  -webkit-animation: appearance 0.5s ease 2s forwards;
  animation: appearance 0.5s ease 2s forwards;
}

.desserts {
  -webkit-animation: appearance 0.5s ease 3s forwards;
  animation: appearance 0.5s ease 3s forwards;
}

.background__loader {
  z-index: 99;
  background-color: #F7F7F7;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: background-loader 3s ease forwards;
}

.loader {
  border: 10px solid #F7F7F7;
  border-top: 10px solid #9356DC;
  border-bottom: 10px solid #99E2D0;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: spin 3s ease-in-out forwards;
  -webkit-animation: spin ease-in-out 3s forwards;
  z-index: 100;
}

body {
  font-family: "Roboto", sans-serif;
  background: #F7F7F7;
  padding: 0px;
  box-sizing: border-box;
  margin: 0;
}
@media screen and (min-width: 990px) {
  body {
    background-color: #FFFFFF;
  }
}

p {
  font-weight: 300;
  margin: 0;
}

h3,
strong {
  margin: 0;
}

.img__quality {
  object-fit: cover;
}

/*# sourceMappingURL=style.css.map */
