/*couleurs*/
/*polices*/
/*ombres*/
/*arrondis bordures*/
@keyframes appearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
@keyframes background-loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.background__loader {
  z-index: 99;
  background-color: #F7F7F7;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: background-loader 3s ease forwards;
}

.loader {
  border: 10px solid #F7F7F7;
  border-top: 10px solid #9356DC;
  border-bottom: 10px solid #99E2D0;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: spin 3s ease-in-out forwards;
  -webkit-animation: spin ease-in-out 3s forwards;
  z-index: 100;
}

body {
  font-family: "Roboto", sans-serif;
  background: #F7F7F7;
  padding: 0px;
  box-sizing: border-box;
}
@media screen and (min-width: 990px) {
  body {
    background-color: #FFFFFF;
  }
}
body p {
  font-weight: 300;
}

.img__quality {
  object-fit: cover;
}

.title__principal__container {
  display: flex;
  justify-content: center;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 2;
}

.title__principal {
  font-family: "Shrikhand", cursive;
  margin-top: 14px;
  margin-bottom: 5px;
}

.localisation__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  background: #EAEAEA;
}

.fa-location-dot::before {
  margin-left: -28px;
}

.header__down__container {
  padding: 0px 5% 57px 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn__g__1 {
  margin-top: 27px;
}

h3,
p,
strong {
  margin: 0;
}

.title__fonctionnement {
  margin: 48px 0px 26px -146px;
}
@media screen and (min-width: 700px) {
  .title__fonctionnement {
    margin: 48px 0px 26px -488px;
  }
}
@media screen and (min-width: 990px) {
  .title__fonctionnement {
    margin: 48px 0px 26px -888px;
  }
}

.section__fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  padding: 48px 0 68px 0;
}
.section__fonctionnement .container__btn__menu {
  gap: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 700px) {
  .section__fonctionnement .container__btn__menu {
    flex-direction: row;
  }
}
@media screen and (min-width: 700px) and (min-width: 990px) {
  .section__fonctionnement .container__btn__menu {
    gap: 6px;
  }
}

.style_btn {
  background-color: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  width: 322.49px;
  height: 72.38px;
  border: 0px;
}
@media screen and (min-width: 700px) {
  .style_btn {
    width: 30%;
  }
}
@media screen and (min-width: 990px) {
  .style_btn {
    width: 322.49px;
  }
}

.text__btn__menu {
  margin-left: 25px;
}
@media screen and (min-width: 700px) {
  .text__btn__menu {
    margin-left: 0px;
  }
}
@media screen and (min-width: 990px) {
  .text__btn__menu {
    margin-left: 25px;
  }
}

.only__number {
  color: #FFFFFF;
  background-color: #9356DC;
  border-radius: 50%;
  position: absolute;
  margin-left: -16px;
  margin-top: -4px;
  padding: 4px 8px;
}
@media screen and (min-width: 700px) {
  .only__number {
    margin-top: 4px;
  }
}
@media screen and (min-width: 990px) {
  .only__number {
    margin-top: -4px;
  }
}

.btn-gradient {
  opacity: 1;
  cursor: pointer;
  background: linear-gradient(0deg, #9356DC -5.2%, #FF79DA 110.74%);
  width: 218px;
  height: 50px;
  border-radius: 25px;
  border: 0px;
  color: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.btn-gradient:hover {
  opacity: 0.8;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  transition: opacity 1s ease;
}
.btn-gradient:not(:hover) {
  opacity: 1;
  transition: opacity 1s ease;
}

.section__restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 64px;
}

.article__restaurants__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
@media screen and (min-width: 700px) {
  .article__restaurants__container {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    max-width: 700px;
    gap: 12px;
  }
}
@media screen and (min-width: 990px) {
  .article__restaurants__container {
    gap: 50px;
    max-width: 750px;
    justify-content: space-between;
  }
}

.title__restaurants {
  margin: 48px 0px 26px -202px;
}
@media screen and (min-width: 700px) {
  .title__restaurants {
    margin: 48px auto 26px auto;
  }
}

.article__restaurants {
  width: 335px;
  height: 251px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: 0.4s box-shadow ease;
}
.article__restaurants:hover {
  box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.5);
}
.article__restaurants:not(:hover) {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  transition: 0.4s box-shadow ease;
}

.nouveau {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  padding: 8px 1px 4px 10px;
  position: relative;
  z-index: 2;
  height: 22px;
  width: 70px;
  border-radius: 2px;
  left: 71%;
  bottom: 65%;
  color: #008766;
  background-color: #99E2D0;
}

.with__nouveau {
  margin-top: -31px;
}

.heart__pos {
  margin: 23px 33px 0 0;
  font-size: 1.5em;
  position: absolute;
  opacity: 1;
}
.heart__pos:hover {
  visibility: hidden;
  opacity: 0;
  -webkit-text-fill-color: transparent;
}

.fa-solid.fa-heart.heart-gradient {
  z-index: -1;
  background: linear-gradient(0deg, #9356DC -5.2%, #FF79DA 110.74%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 23px 33px 0 0;
  font-size: 1.5em;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.fa-solid.fa-heart.heart-gradient:hover {
  opacity: 1;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.card__subtitle {
  margin: 16px 0px 12px 12.8px;
}

.picture__food__card {
  width: 100%;
  height: 70%;
  border-radius: 15px 15px 0 0;
}

.picture__food__card-bis {
  width: 100%;
  height: 275px;
}

footer {
  color: #FFFFFF;
  background-color: rgb(53, 53, 53);
  display: flex;
  flex-direction: column;
  padding: 22px 0px 33px 25px;
}
@media screen and (min-width: 700px) {
  footer {
    gap: 10%;
    flex-direction: row-reverse;
  }
}

.footer__title {
  font-family: "Shrikhand", cursive;
}
@media screen and (min-width: 700px) {
  .footer__title {
    margin-top: 12px;
    margin-right: 5%;
  }
}

.footer__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 7px;
}
@media screen and (min-width: 700px) {
  .footer__list {
    gap: 20px;
    flex-direction: row;
  }
}
@media screen and (min-width: 990px) {
  .footer__list {
    gap: 40px;
  }
}

.icon__footer {
  margin-right: 10px;
}

.contact {
  color: #FFFFFF;
  text-decoration: none;
}

.fa-arrow-left {
  position: absolute;
  left: 2rem;
  top: 50%;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #000;
}

.title__restaurant-bis {
  display: flex;
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  justify-content: space-between;
  width: 94%;
}

.heart__pos-bis {
  font-size: 1em;
  margin: 5px 16px 0 0;
}

.container__menu-bis {
  position: relative;
  margin-top: -42px;
  background-color: #F6F6F6;
  z-index: 2;
  border-radius: 40px 40px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 990px) {
  .container__menu-bis {
    gap: 40px;
    width: 73vw;
    margin-left: auto;
    margin-right: auto;
  }
}

.card-bis {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 0 0 40px 0;
}

.carre__vert {
  border-radius: 0 15px 15px 0;
  align-items: center;
  justify-content: center;
  display: flex;
  box-sizing: border-box;
  left: 102%;
  position: relative;
  color: #ffffff;
  width: 0%;
  background-color: #99e2d0;
  height: 105%;
  z-index: -7;
  transition: width 0.5s ease-in-out;
  opacity: 0;
  margin-top: -17px;
}

.fa-circle-check {
  transform: rotate(0deg);
  transition: transform 1s ease-in-out;
}

.btn__style-bis {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  width: 349px;
  height: 68px;
  border: 0px;
  transition: transform 0.5s ease-in-out;
  transform: translateX(0%);
}
@media screen and (min-width: 700px) {
  .btn__style-bis {
    width: 634px;
  }
}
.btn__style-bis:hover .carre__vert {
  width: 59px;
  transform: translateX(-100%);
  opacity: 1;
}
.btn__style-bis:hover .price-bis {
  transform: translateX(-69px);
}
.btn__style-bis:hover .fa-circle-check {
  transform: rotate(360deg);
  opacity: 1;
}

.position__img-bis {
  z-index: -1;
  border-radius: 0;
}

.style__green__trait-bis {
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  margin-right: 88%;
  font-weight: 300;
  padding-bottom: 4px;
}

.price-bis {
  position: relative;
  display: inline-block;
  transition: transform 0.5s ease-in-out;
  right: -44%;
  top: 53%;
  margin-right: 15px;
}

.name__flat-bis {
  margin-right: 100%;
}

.text__card__exept__price-bis {
  top: 25%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.description__flat-bis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.pos__command__btn-bis {
  margin-top: 28px;
}

.entrees-bis,
.plats-bis,
.desserts-bis {
  opacity: 0;
}

.entrees-bis {
  -webkit-animation: appearance 0.5s ease 1s forwards;
  animation: appearance 0.5s ease 1s forwards;
}

.plats-bis {
  -webkit-animation: appearance 0.5s ease 2s forwards;
  animation: appearance 0.5s ease 2s forwards;
}

.desserts-bis {
  -webkit-animation: appearance 0.5s ease 3s forwards;
  animation: appearance 0.5s ease 3s forwards;
}

/*# sourceMappingURL=style.css.map */
