

    @mixin resto {
        width: 335px;
        height: 251px;
        border-radius: $border-radius-light;
        display: flex;
        flex-direction: column;
        box-shadow: $shadow-border-1;
    }
    
    @mixin flex-column-aligned {
        
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @mixin green-trait {
        border-bottom: 3px solid #99E2D0;
        width: 40px;
        margin-right: 88%;
        font-weight: 300;
        padding-bottom: 4px;
        
    }
    
   